<!-- Charge component slider with prop input nombre and homeText -->
<app-slider
  [nombre]="'Peliculas'"
  [size]="'small'"
></app-slider>

<!-- Format conetent -->
<div class="center">
    <section id="content">

        <!-- Print info of event Output -->
        <div id="favorita" *ngIf="favorita">
            <h2 class="subheader">Pelicula favorita</h2>
            <h4>
                <!-- Print favorita.title with a pipe -->
                {{favorita.title | lowercase}}
            </h4>

            <h5>{{favorita.year | espar}}</h5>

            <!-- Other pipe, you can search more pipe in page web angular -->
            <h5>{{this.fecha | date: 'short'}}</h5>
        </div>

        <h1 class="subhedaer">Peliculas</h1>

        <!-- <h2>{{titulo}}</h2>
        <button (click)="cambiarTitulo()">Pulsame</button>
        <hr>

        <h2>Mostar primera pelicula</h2>
        {{peliculas[0].title}}

        <hr>

        <h2>Numero de peliculas</h2>
        <div *ngIf="peliculas.length <= 3">
            Hay pocas peliculas
        </div>

        <div *ngIf="peliculas.length > 3">
            Hay pocas peliculas
        </div>

        {{peliculas.length}}

        <hr>

        <h2 class="subhedaer">Listado de peliculas</h2> -->

        <!-- ngIf -->
        <div id="articles" *ngIf="peliculas">
            <div *ngFor="let pelicula of peliculas; let i = index;">
                <!-- Pass a event marcarFavorita that is a prop output 
                    declaraded in component pelicula -->
                <app-pelicula [pelicula]="pelicula"
                            (marcarFavorita)="mostrarFavorita($event)"
                ></app-pelicula>
            </div>
        </div>

    </section>

    <!-- Charge component sidebar -->
    <app-sidebar></app-sidebar>
</div>