<div class="loading" *ngIf="!articles">
    Cargando....
</div>

<div class="loading" *ngIf="articles && articles.length ==0">
    No hay articulos para mostrar, intentalo mas tarde
</div>

<div id="articles" *ngIf="articles">
    <article class="article-item" id="article-template" *ngFor="let article of articles">
        <div class="image-wrap">
            <img alt="{{article.title}}" *ngIf="article.image" src="{{url+'/get-image/'+article.image}}"/>
            <img alt="{{article.title}}" *ngIf="!article.image" src="assets/images/default.png"/>
        </div>
        <h2>{{article.title}}</h2>

        <!-- Charge pipes of moment.js to date -->
        <span class="date">{{article.data | amLocale: 'es' | amTimeAgo}}</span>
        <a [routerLink]="['/blog/articulo', article._id]">Leer mas</a>
        <div class="clearfix"></div>
    </article>
</div> 