<!-- Format conetent -->
<div class="center">
    <section id="content">
        
        <article class="article-item article-detail" *ngIf="article">
            <div class="image-wrap">
                <img alt="{{article.title}}" *ngIf="article.image" src="{{url+'/get-image/'+article.image}}"/>
                <img alt="{{article.title}}" *ngIf="!article.image" src="assets/images/default.png"/>    
            </div>
            <h1 class="subheader">{{article.title}}</h1>
            <span class="date">{{article.data | amLocale: 'es' | amTimeAgo}}</span>
            <p>{{article.content}}</p>

            <dib class="buttons">
                <a class="btn btn-warning" [routerLink]="['/blog/editar', article._id]">Editar</a>
                <a class="btn btn-danger" (click)="delete(article._id)">Borrar</a>
            </dib>

            <div class="clearfix"></div>
        </article>   

    </section>

    <!-- Charge component sidebar -->
    <app-sidebar></app-sidebar>
</div>