<aside id="sidebar">
    <div class="sidebar-item" id="nav-blog">
        <h2>Puedes hacer esto</h2>
        <a class="btn btn-success" [routerLink]="['/blog/crear']">Crear articulo</a>
    </div>

    <div class="sidebar-item" id="search">
        <h3>Buscador</h3>
        <p>Encuentra el articulo que buscas</p>
        <form #searchForm="ngForm" (ngSubmit)="goSearch()">
            <input name="search" [(ngModel)]="searchString" type="text"/>
            <input class="btn" name="submit" type="submit" value="Buscar"/>
        </form>
    </div>
</aside>

<div class="clearfix"></div>